.store-page {
	.item-card {
		p {
			font-size: 14px !important;
			height: 80px;
			overflow: hidden;
		}
		// max-width: 315px;
		  transition: 0.5s;
		  background-image: url('../../assets/images/selectedItemBg.png');
		  background-size: 100% 0%;
		  background-repeat: no-repeat;
	}

	.item-card:hover {
		background-size: 100% 100%;
	}
}